services:
  db:
    image: postgres:16
    container_name: keycloak-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: ${KC_DB_PASSWORD}
    volumes:
      - kc_pgdata:/var/lib/postgresql/data

  keycloak:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: keycloak
    restart: unless-stopped
    depends_on:
      - db
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KC_ADMIN_USER}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KC_ADMIN_PASS}

      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: ${KC_DB_PASSWORD}

    ports:
      - "127.0.0.1:8443:8443"
      - "127.0.0.1:9000:9000"

    volumes:
      - /opt/keycloak/conf/keycloak.conf:/opt/keycloak/conf/keycloak.conf:ro,Z
      - /opt/keycloak/themes:/opt/keycloak/themes:ro,Z
      - /opt/keycloak/conf/certs:/opt/keycloak/conf/certs:ro,Z

  nginx:
    image: nginx:alpine
    container_name: keycloak-nginx
    restart: unless-stopped
    network_mode: host
    depends_on:
      - keycloak
    volumes:
      - /opt/keycloak/nginx/nginx.conf:/etc/nginx/nginx.conf:ro

volumes:
  kc_pgdata:
